<div>
    <h2>Lista de Gestores:</h2>
    <p><a routerLink="/dashboard">Volver.</a></p>
    <h3>Espere 5 segundos, por favor.</h3>

        <div *ngFor="let gestor of gestoresMostrados">
            <p>{{ gestor.nombre }} {{ gestor.apellido }} - Edad: {{ gestor.edad }} años.</p>
            <ul>
                <li>Correo: {{ gestor.email }}.</li>
                <li>Salario: {{ gestor.salario }}€.</li>
            </ul>
            <hr>
        </div>

    <button (click)="convertirGestoresAJson()">Convertir a Json</button>
    <div *ngIf="mostrarConvertidosAJson">
        <button (click)="ocultarConvertidos()">Ocultar</button>
        <p>{{ gestoresJson }}</p>
        <button (click)="convertirDesdeJson()">Convertir desde Json</button><br>
        <button (click)="ocultarConvertidosDesdeJson()">Ocultar</button>
        <div *ngIf="mostrarConvertidosDesdeJson">
            <div *ngFor="let gestor of gestoresMostrados">
                <p>{{ gestor.nombre }} {{ gestor.apellido }} - Edad: {{ gestor.edad }} años.</p>
                <ul>
                    <li>Correo: {{ gestor.email }}.</li>
                    <li>Salario: {{ gestor.salario }}€.</li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
    
</div>

